* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Shanti", monospace;
}
body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: "Shanti", monospace;
  font-size: 1em;
}
a{
  color: red;
  text-decoration: none;
}
ul,
li{
  list-style-type: none;
  font-size: 2em;
  display: flex;
  flex-flow: row;
  opacity: 0.85;
}
.images{
  box-sizing: content-box;
  flex-flow: row;
  width: 33%;
}
.ids{
  box-sizing: content-box;
  flex-flow: row;
  width: 33%;
}
.pl-report{
  box-sizing: content-box;
  flex-flow: row;
  width: 33%;
}
div{
  padding: 10px;
}
html{
  font-size:100%;
  overflow-y:scroll;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:none;}
@media only screen and (max-width:480px){
  body{font-size:12px;}
}
.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}
.num{
  color: green;
  font-size: 1.5em;
  box-sizing: content-box;
  flex-flow: row;
  width: 100%;
  text-align:center;
  padding: 0;
}
#greeting {
  font-size: 7em;
  font-family: "Shanti", monospace;
}

.greeting {
    color:white;
    text-shadow: 1px 2px 3px rgba(255,255,255, .5);
    text-align: center;
}
.loss{
  background-color: rgba(233, 57, 60,0.25);
  font-family: monospace;
  font-size: 1.5em;
}
.kill{
  background-color: rgba(85, 244, 61,0.25);
  font-family: monospace;
  font-size: 1.5em;
}
.attackers{
  font-family: monospace;
  box-sizing: content-box;
  flex-flow: row;
  text-align: left;
}
.dat{
  box-sizing: content-box;
  flex-flow: row;
}
.dat2{
  box-sizing: content-box;
  flex-flow: row;
  width: 100%;
  padding: 0;
}
.victim {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.credits {
  color:white;
  text-shadow: 1px 1px 3px rgba(255,255,255, .5);
  text-align: center;
}
.date {
  box-sizing: content-box;
  flex-flow: column;
  width: 100%;
  color:white;
  text-align:center;
  padding: 5%;
}
td {
  vertical-align: top;
  padding: 5px;
  text align: center;
  border: 0;
}
#killBoard {
  font-size: 2em;
}
.button {
  color: white;
  background-color: #00004d;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  flex-flow: row;
  vertical-align: middle;
  text-align: center;
  margin: 5px;
  padding: 5px;
  -webkit-transition: width 2s, background-color 2s, -webkit-transform 2s;
  transition: width 2s, background-color 2s, transform 2s;
  cursor: pointer;
}
.button:hover {
  border-radius: 15px;
  background-color: #1a1aff;
  width: 300px;
  cursor: pointer;
}
.button:active {
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
}
.flex {
  flex-flow: row;
  display: flex;
}
.award {
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  text-align: center;

}
.aw_el {
  background-color: rgba(85, 244, 61,0.25);
  opacity: 0.85;
}
.stats {
  display: flex;
  flex-flow: row;
}
